<% require 'sinatra' %>

<!doctype html>
<html>
<head>
  <title>Yabause Game CI</title>
  <meta http-equiv="refresh" content="10">
</head>
<body>
  <%= output %></br></br>
  <% for image in images %>
    <%= "<img src=\"#{image}\">" %>
  <% end %>
</body>
</html>
